.title{
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
    width: 100%;
    flex-direction: column;
}
@media(max-width:900px){
    .header{
         height: 25vh;
    }
    .title{
        font-size: 11vw;
    }
}
.inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.search,.select{
    width:43%;
}